<img src="/assets/images/completed.svg" alt="completed - icon by freepik" class="thank-you__image">
<h1 class="thank-you__title">Thank you.</h1>
<p class="thank-you__description">
  Thank you for helping us collecting data
</p>