.questioner-container{
  width: 100%;

  text-align: center;
  padding: 20px;
  @extend .shadow;
  .questioner-title{
     margin-bottom: 2rem;
  }
  .questioner-description{

  }

  .questioner-action{
      @extend .mt-2;
  }
}

.divider{
  width: 100%;
  display: block;
  border-bottom: 1px solid $input-border-color;
}

.question-container{
  width: 100%;
  padding: 20px;
  .question-container_title{

  }
}
