.questioner-container{
  width: 100%;

  text-align: center;
  padding: 20px;
  @extend .shadow;
  .questioner-title{
     margin-bottom: 2rem;
  }
  .questioner-description{

  }

  .questioner-action{
      @extend .mt-2;
  }
}

.question-container{
  width: 100%;
  padding: 20px;
}
